<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kingsun.teacherclasspro">
    <!-- 所需要的全部权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.king.sunnytaskstu.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <!-- 新加 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name="com.kingsun.teacherclasspro.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
        android:name="com.kingsun.teacherclasspro.activity.MainActivity"
        android:screenOrientation="landscape"
        android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.kingsun.teacherclasspro.activity.PlayActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!--android:name="com.kingsun.teacherclasspro.activity.StartActivityAty"-->
        <activity
            android:name="com.kingsun.teacherclasspro.activity.StartActivityAty"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.kingsun.teacherclasspro.activity.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.kingsun.teacherclasspro.activity.BookListAcivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.kingsun.teacherclasspro.activity.TestAty"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!--<service-->
        <!--android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"-->
        <!--android:enabled="false"-->
        <!--android:process=":leakcanary" />-->
        <!--<service-->
        <!--android:name="com.squareup.leakcanary.DisplayLeakService"-->
        <!--android:enabled="false" />-->

        <!--<activity android:name="com.squareup.leakcanary.internal.DisplayLeakActivity" />-->
        <activity
            android:name="com.kingsun.teacherclasspro.activity.JobActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.kingsun.teacherclasspro.activity.TestMainAcitity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!--开机启动广播-->
        <!--<receiver-->
            <!--android:name="com.kingsun.teacherclasspro.receiver.BootBroadcastReceiver"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
            <!--</intent-filter>-->

            <!--<intent-filter >-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED"/>-->
                <!--<action android:name="android.intent.action.MEDIA_UNMOUNTED"/>-->
                <!--<data android:scheme="file"/>-->
            <!--</intent-filter>-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED" />-->
                <!--<action android:name="android.intent.action.PACKAGE_REPLACED" />-->
                <!--<data android:scheme="package" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name="com.kingsun.teacherclasspro.utils.DownloadService"/>
        <service android:name="com.kingsun.teacherclasspro.utils.FileTransminssionService"/>
    </application>

</manifest>